/**
 * Module dependencies
 */

@require 'shoelace-ui-font'
@require './variables'

/**
 * Apply `body` default styles.
 */

body
  font base
  margin 0
  color body--color
  if body--bg isnt inherit
    background body--bg
